<h3>Account Page</h3>
<img src="xf.png" alt=""  width="200" height="130">

<div class="form-floating">
    <input type="text" name = "username" [(ngModel)]="username" class="form-control">
    <label for="unm">Username</label>
  </div>
  <div class="form-floating">
    <input type="datetime" name="birthdate" [(ngModel)]="birthdate" class="form-control">
    <label for="bd">Birthdate</label>
  </div>
  <div class="form-floating">
    <input type="datetime" name="age" [(ngModel)]="age" class="form-control">
    <label for="age">Age</label>
  </div>